<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.test.SpringbootTest.mybatis.mapper.TestMapper" >

  <select id="getAccountById" parameterType="java.lang.Integer" resultType="com.wz.test.SpringbootTest.mybatis.entity.Account">
    select
    *
    from t_test
    where id=#{id}
  </select>

  <update id="updateAccountById" >
    update t_test set
    account =#{amount}
    where id=#{id}
  </update>

</mapper>